.description {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.imgAbout {
  margin-top: 1vmax;
  max-width: 100%;
}

.credits {
  font-size: 1rem;
}

.overflow {
  overflow: auto;
}

.aboutContainer {
  height: 100px;
}

.margin {
  margin: 2vmax;
  margin-top: 1vmax;
  display: grid;
  grid-template-columns: 60% auto;
}

@media screen and (max-width: 768px) {
  .overflow {
    grid-column: 1 / span 2;
  }

  .margin {
    margin: 1vmax;
    grid-template-columns: 1fr;
  }
}
