.description {
  /* text-align: justify; */
  font-size: 1.2vmax;
}

.workLinks {
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-size: 1.2vmax;
  margin-top: 1vmax;
}

.imgAbout {
  margin-top: 1vmax;
  max-width: 100%;
}

.credits {
  /* text-align: justify; */
  font-size: 1vmax;
}

.overflow {
  overflow: auto;
}

.aboutContainer{
  height: 100px;
}

.margin{
  margin: 2vmax;
  margin-top: 1vmax;
  display: grid;
  grid-template-columns: 60% auto;
}