html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Noto Serif JP", serif;
  font-size: 1.5vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Noto Serif JP", serif;
}

#rootContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3vmax auto;
  column-gap: 1vw;
  row-gap: 1vh;
  width: 100vw;
  height: 100vh;
}


.mainVideo,
.mainImg {
  width: 100%;
  height: auto;
}

.workImg,
.workVideo {
  margin-top: 1vmax;
  max-width: 100%;
  max-height: 91vh;
  object-fit: contain;
}

.mainVideoVertical {
  max-width: 50%;
  max-height: 91vh;
  height: auto;
}

.mainImgVertical {
  height: 91vh;
  /* height: auto; */
}

.workLinks {
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 1vmax;
}

#footer {
  position: absolute;
  bottom: 0.35vmax;
  left: 1vmax;
  z-index: -1;
  font-size: 0.75rem;
  color: gray;
}

@media screen and (max-width: 768px) {
  html,
body {
  /* font-size: 10px; */
  font-size: 1.8vh;
}
  .mainVideoVertical{
    max-width: 100%;
  }

  .mainImgVertical{
    max-width: 100%;
    height: auto;
  }
  
}