.container {
  display: grid;
  grid-template-columns: max(60px, 10vw) auto;
  grid-template-rows: auto;
  column-gap: 1vw;
  row-gap: 1vh;
  margin-left: 1.5vmax;
  margin-bottom: 1.5vmax;
  margin-top: 0.5vmax;
  /* display: flex;
  flex-direction: row;
  margin-left: 1.5vmax;
  margin-bottom: 1.5vmax;
  margin-top: 0.5vmax;
  width: 100%; */
}

.title {
  font-size: 1.2rem;
}

.titleActive {
  font-size: 1.2rem;
  font-weight: bold;
}

.description {
  font-size: 0.75rem;
}

.thumbnailsContainer {
  height: 100px;
}

.thumbnailContainer {
  cursor: pointer;
  margin-bottom: 1.5vmax;
}

.thumbnailContainerActive {
  color: gray;
  cursor: pointer;
  margin-bottom: 1.5vmax;
}

/* WORK DETAILS PAGE */

.overflow {
  overflow: auto;
  /* grid-column: 1;
  grid-row: 0; */
}

.overflow2 {
  overflow: auto;
  /* grid-column: 0;
  grid-row: 0; */
}

.workMainContainer {
  display: grid;
  grid-template-columns: 45% auto;
  grid-template-rows: auto;
  height: 100px;
  margin: 2vmax;
  padding-bottom: 1vmax;
  margin-top: 0vmax;
  /* width: 80vw; */
}



.workImgMain {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vmax;
}

.workText {
  font-size: 1.2rem;
  /* text-align: justify; */
  padding-top: 1vmax;
  white-space: pre-line;
}

.workDesc {
  padding: 1vmax;
  white-space: pre-line;
  text-align: right;
}

.workTextContainer {
  grid-column: 1;
  margin-right: 2vmax;
}

.workImgContainer {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.workImgWideContainer {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
}

.workImgWideRowContainer {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2vmax;
  overflow-x: scroll;
  height: fit-content;
}

.workImgWideRowContainer img {
  /* flex: 1; */
  /* max-width: 50%; */
}
.workImgWideRowContainer video {
  /* flex: 1; */
  /* max-width: 50%; */
}

.workParagraph {
  padding: 1vmax;
}

.workFooter {
  padding: 1vmax;
}

.workFooters {
  font-size: 1rem;
  /* text-align: justify; */
  padding-top: 1vmax;
  white-space: pre-line;
}

.workLinks {
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 1vmax;
}

.mainVideoVertical {
  max-width: 50%;
  max-height: 91vh;
  height: auto;
}

@media screen and (max-width: 768px) {

  .workTextContainer {
    grid-column: 1 / span 2;
  }
  .workImgContainer {
    grid-column: 1 / span 2;
  }

  .workImgWideRowContainer {
    flex-direction: column;
  }
  
  .workImgWideRowContainer img {
    max-width: 100%;
  }
  .workImgWideRowContainer video {
    max-width: 100%;
  }
  .workImgMain {
    flex-direction: column;
  }
  .title {
    font-size: 1rem;
  }
  
}