.content-container{
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position:relative;
}

.image{
    width: 100vw;
    /*overflow: hidden;*/
}

.title{
    font-size: 8vmax;
    position: absolute;
    bottom: 5vmax;
    color: white;
    /*font-weight: bolder;*/
    margin-left: 2vmax;
    cursor: pointer;
    z-index: 3;
}

.overlay{
    background: rgba(255,255,255,0.1);
    /*overflow: hidden;*/
    height: 100%;
    width: 100vw;
    z-index: 2;
    position: absolute;
    top: 0px;
}

.overlay-content{
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,1);
    z-index: 2;
    position: absolute;
    top: 0px;
}

.dimmer{
    background: rgba(0,0,0,0.1);
    /*overflow: hidden;*/
    height: 100%;
    width: 100vw;
    z-index: 2;
    position: absolute;
    top: 0px;
}

