.home-container {
    height: 100vmin;
    position: relative;
    width: 100%;
}

.name {
    text-align: left;
    position: absolute;
    bottom: 0px;
    font-size: 10vmax;
    margin-left: 1vmax;
    font-weight: bolder;
}

#video {
    width: 90vw;
    position: absolute;
    top:0px;
    right: 0px;
    /*float: right;*/
    overflow: hidden;
    /*border: 1px solid black;*/
}

.overlay-home {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    z-index: 2;
    position: absolute;
    top: 0px;
}