.menu-container {
    height: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 3vmax;
    right: 0;
    margin-right: 0.5vmax;
    text-align: right;
    display: flex;
    flex-direction: ROW;
    align-items: flex-end;
    font-size: 2.5vmax;
    justify-content: flex-end;
    z-index: 90;
}

.menu-element {
    margin-left: 1vmax;
    cursor: pointer;
}

.menu-element:hover {
    color: #FF4C4C;
}