.App {
    font-family: 'Roboto', sans-serif;
    font-size: 3vmax;
    display: flex;
    /*position: relative;*/
    flex-direction: column;

}

.spacer {
    height: 4vmax;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 600px) {
    .App{
        font-size: 2vmax;
    }
}